<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyn.mapper.user.UserMapper">
	<insert id="CreateUser" parameterType="com.lyn.dto.UserDto">
		
		<selectKey resultType="int" keyProperty="userSeq" order="BEFORE">
			select nextval('user_seq') 
		</selectKey>
		
		insert into users(user_seq, user_email, user_pwd, user_role_group, cre_id, cre_date, upd_id, upd_date)
		values (#{userSeq}, #{userEmail}, #{userPassword}, 'USER', #{createUserId}, now(), #{createUserId}, now())
	</insert>
	
	<select id="GetUserByUserName" parameterType="String" resultType="com.lyn.dto.UserDto">
		select user_email, user_pwd, user_role_group, cre_id, cre_date, upd_id, upd_date from users where user_email = #{user_email}
	</select>
	
	<select id="GetUserRoles" parameterType="String" resultType="String" >
		select role from authority where user_id = #{userId}
	</select>
</mapper>